h1 {
  text-align: center;
  margin: 5%;
  padding: 5px;
  font-family: 'Hind', sans-serif;
}

.post {

  margin: 5px;
  padding: 5px;
  background-color: #aee5e1;
  color: black;
  width: 100%;
  align-items: center;
  border: 15px solid #f9f9f9;

}

.images{
  text-align: center;
}

img {
  padding:10px;
  max-width: 100%;
  text-align: center;
}

h3{
  font-family: 'Hind', sans-serif;
}

p {
    font-family: 'Hind', sans-serif;
    font-size: 20px;
  }
body {
  background-color: #989ba0;
}
